#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.board {
  background-color: white;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aliceblue;
  width: 350px;
  height: 400px;
}

.move-history {
  background-color: aqua;
  height: 80%;
}

.verdict {
  background-color: aqua;
  height: 20%;
  align-content: center;
}
